extends layout

block content
  h1= title
String[] results (joules_produced, joules_needed, location)
<div class=container-fluid>joules_produced</div>
<div class=row>joules_needed</div>

<div class=col-sm-2>location</div>